# {{ ansible_managed }}

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot        /var/lib/haproxy
  stats socket  /var/lib/haproxy/stats level admin
  user root
	group root
  daemon
#---------------------------------------------------------------------
# common defaults that all the 'frontend' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
  log    global
  mode   http
  option httplog
  option dontlognull
  option forwardfor except 127.0.0.0/8
  option redispatch
  retries 3
  timeout http-request    5s
  timeout queue           1m
  timeout http-keep-alive 5s
  timeout check           10s
  timeout connect  5000
  timeout client   50000
  timeout server   50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
frontend hafrontend
  bind *:80
  mode http
  default_backend habackend

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
backend habackend
  mode http
  balance roundrobin
  {% for host in groups['web'] %}
    server {{ host }} {{ hostvars[host]['ansible_facts'][ansible_default_ipv4.interface]['ipv4']['address'] }}:80 check
  {% endfor %}

#---------------------------------------------------------------------
# HAProxy Monitoring Config URI
#---------------------------------------------------------------------
  stats enable
  stats uri /haproxy?stats
